@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	@apply bg-space-gray;
	font-family: 'Poppins', sans-serif;
}

@layer components {
	.auth-background {
		@apply h-screen w-screen;
		background: no-repeat center center / cover url('/src/assets/auth-background.png');
	}

	.auth-modal-box-shadow {
		box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);
	}

	.auth-form {
		@apply flex flex-col gap-4 justify-center w-full;
	}

	.button {
		@apply rounded-xl text-white p-2 font-bold bg-purple hover:bg-purple-hover transition delay-75 focus:outline-0 disabled:bg-purple/40 active:opacity-30;
	}

	.button:hover {
		box-shadow: 0px 0px 28px rgba(106, 32, 228, 0.35);
	}
}
